#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=CPS Limiter
Exec=/usr/bin/cps-limiter
Icon=/usr/share/cps-limiter/cps-limiter.png
Categories=Utility;
Terminal=false
